@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #4EABD3;
  cursor: default;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 30%;
  border: 3px solid #4EABD3;
  padding: 5px;
  height: 20px;
  border-radius: 0px;
  outline: none;
  color: #427697;
  font-size: 15px;
}

.searchTerm:focus{
  color: #427697;
}

.searchButton {
  position: relative;
  right: 3px;
  width: 40px;
  height: 36px;
  border: 3px solid#4EABD3;
  background: #eaf5fc;
  text-align: center;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 20px;
}

button:focus {outline:0;}

.search-icon {
  color: #4EABD3;
}

.search-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  padding: 30px;
}
